.button {
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s;
  box-shadow: none;

  &:hover {
    background-color: var(--main-color);
    border-color: var(--main-color);
  }

  &:focus {
    background-color: var(--main-color);
    color: white;
  }

 &:active {
  translate: 0;
 }
}

th {
  padding-inline: 10px;
  // padding-block: 25px;
}

td {
  // padding-block: 5px;
  padding-inline: 10px;
}

.icon {
  width: 25px;
  aspect-ratio: 1;
  filter: grayscale(1);
  transition: filter 0.1s, scale 0.1s;
  cursor: pointer;

  &:hover {
    filter: none;
  }

  &:active {
    scale: 0.9;
  }
}

form {
  width: 100%;
}

.filter label {
  border-radius: 50px;
  border: 3px solid var(--main-color);
  padding-inline: 16px;
  padding-block: 5px;
  transition: color 0.2s; 
  transition: background-color 0.2s;
  text-wrap: nowrap;
  text-align: center;
  width: 125px;

  cursor: pointer;

  &:hover {
    background-color: var(--main-color);
    color: white;
  }

  &:active {
    opacity: 0.5;
  }
}

.filter input[type=radio]:checked + label{
  background-color: var(--main-color);
  color: white;
}

input {
  border: none;
  border-bottom: 2px solid var(--main-color);

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
  color: var(--main-color);
  
  &:hover {
    color: var(--main-emphasys-color);
  }
}