img {
  max-width: 400px;
  border-radius: 50%;
}

form {

  display: flex;
  flex-direction: column;
  gap: 16px;
  input, select {
    border: none;
    border-bottom: 2px solid var(--main-color);
    
    &:focus {
      outline: none;
    }
  }

  max-width: 500px;

  button {
    font-size: 1.2rem;
  }
  
  label {
    display: flex;
    flex-direction: column;
  }

  img {
    width: 60px;
    border-radius: 0;
  }

  p {
    margin-bottom: 0;
  }
}


input[type=radio]:checked + label{
  background-color: var(--main-color);
  color: white;
}





