form {
  input, select {
    border: none;
    border-bottom: 2px solid var(--main-color);
    
    &:focus {
      outline: none;
    }
  }

  max-width: 500px;

  button {
    font-size: 1.2rem;
  }
}

img {
  max-width: 500px;
  border-radius: 50%;
}