label {
  border-radius: 50px;
  border: 3px solid var(--main-color);
  padding-inline: 16px;
  padding-block: 5px;
  transition: color 0.2s; 
  transition: background-color 0.2s;

  cursor: pointer;

  &:hover {
    background-color: var(--main-color);
    color: white;
  }

  &:active {
    opacity: 0.5;
  }
}

input[type=radio]:checked + label{
  background-color: var(--main-color);
  color: white;
}

input {
  border: none;
  border-bottom: 2px solid var(--main-color);

  &:focus {
    outline: none;
  }
}