%bg-colors{
  background: linear-gradient(
    125deg,
    var(--alter-color) 0%,
    var(--alter-color) 15%,
    white 15%,
    white 20%,
    var(--main-color) 20%,
    var(--main-color) 80%,
    white 80%,
    white 85%,
    var(--alter-color) 85%,
    var(--alter-color) 100%,
    );
}

.info{
  
  img {
    max-width: 300px;
    border: 4px solid var(--main-color);
  }

}

.head {

  font-family: main;
  color: var(--alter-bright-color);

  @extend %bg-colors;
}

.items {
  border-radius: 50px;
  background-color: var(--main-color);
  
  button {
    box-shadow: 10px 10px lightblue;
    &:active {
      box-shadow: none;
      translate: 10px 10px;
    }
  }

  p {
    color: var(--main-color);
  }

  img {
    max-width: 200px;
    border-radius: 25px;
    @media (width < 1200px) {
      width: 100%;
      max-width: 400px;
    }
  }

 
}

.list {
  background-color: white;
  border-radius: 25px;
  transition: scale 0.2s;

  button {
    box-shadow: none;
    transition: scale 0.2s;
    &:active {
      translate: 0;
      scale: 0.95;
    }
  }
  
  img {
    transition: scale 0.2s, opacity 0.2s;

    &:hover {
      opacity: 0.8;
    }

    &:active {
      scale: 0.95
    }
  }
  
}

.item {
  border-bottom: 2px solid var(--main-color);
  p {
    margin-bottom: 0;

  }
  
  @media(width < 992px) {
    p {
      margin-bottom: 16px;
      text-wrap: nowrap;
    }
    border-bottom: none;
  }
}

a {
  text-decoration: none;
  
}




